@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  --color-border-primary: #000000;
  --color-bg-primary: #ffffff; /* Default to light mode */
  --color-text-secondary: #000000;
}
.dark {
  --color-border-primary: #ffffff;
  --color-bg-primary: #000000; /* Override for dark mode */
  --color-text-secondary: #ffffff;
}
